---
import {
    IoLogoFacebook,
    IoLogoInstagram,
    IoLogoLinkedin,
    IoLogoWhatsapp,
} from "react-icons/io";
---

<footer class="flex flex-col bg-black p-12 mt-12">
    <div class="flex flex-col justify-center items-center mx-4 lg:mx-12">
        <h1
            class="text-center uppercase font-semibold text-2xl md:text-5xl text-white"
        >
            Iron Burguer
        </h1>
        <h3
            class="uppercase font-light text-xs md:text-md text-white tracking-[1rem]"
        >
            Company
        </h3>
    </div>
    <div class="flex flex-col justify-center items-center text-center mt-8">
        <span
            class="text-xs md:text-sm font-light uppercase tracking-[0.25rem] text-white"
            >Los mejores del mercado</span
        >
        <span
            class="text-sm mt-2 font-medium tracking-widest uppercase text-white"
            >Ironburguer@gmail.com</span
        >
    </div>
    <div class="flex justify-center items-center mt-8 gap-x-4">
        <a href="#" target="_blank"
            ><IoLogoInstagram
                size={25}
                className="text-white hover:text-primary"
            /></a
        >
        <a href="#" target="_blank"
            ><IoLogoFacebook
                size={25}
                className="text-white hover:text-primary"
            /></a
        >
        <a href="#" target="_blank"
            ><IoLogoWhatsapp
                size={25}
                className="text-white hover:text-primary"
            /></a
        >
        <a href="#" target="_blank"
            ><IoLogoLinkedin
                size={25}
                className="text-white hover:text-primary"
            /></a
        >
    </div>
    <aside class="flex justify-center items-end mt-24">
        <span class="text-white text-center font-regular text-xs"
            >Todos los derechos reservados - Iron Burguer 2024©</span
        >
    </aside>
</footer>
