---
import BurguerIcon from "../icons/BurguerIcon.astro";
---

<div class="flex justify-center items-center gap-2 mt-2 p-4 md:p-0">
    <BurguerIcon />
    <span
        class="text-white uppercase text-light text-[0.7rem] text-center max-w-[220px] md:max-w-full md:text-sm"
    >
        Nueva cheese burguer aniversario <strong class="text-primary"
            >disponible ahora!</strong
        ></span
    >
</div>
