---
import BurguerIcon from "../icons/BurguerIcon.astro";


---

<header class="flex justify-center items-center mt-2 gap-2">
    <BurguerIcon/>
    <span class="text-white uppercase text-medium text-sm">New anniversary cheeseburguer available now!</span>
</header>