---
import BurguerIcon from "../icons/BurguerIcon.astro";
---

<div class="flex justify-center items-center mt-4 gap-2">
    <BurguerIcon />
    <span class="text-primary uppercase text-light text-sm">
        New anniversary cheese burguer <strong
            class="border-b-[1.5px] border-primary">available now!</strong
        ></span
    >
</div>
