---
import BurguerIcon from "../icons/BurguerIcon.astro";
---

<div class="flex justify-center items-center gap-2 mt-2">
    <BurguerIcon />
    <span class="text-white uppercase text-light text-sm">
        New anniversary cheese burguer <strong class="text-primary"
            >available now!</strong
        ></span
    >
</div>
