---
import Header from "./Header.astro";
---

<nav class="flex justify-center items-center flex-col">
    <Header />
    <div class="flex items-center mt-12 2xl:gap-x-8 w-full justify-center">
        <a
            class="hidden md:flex md:text-sm items-center [&>span]:hover:text-primary [&>span]:duration-300 gap-2 hover:border-b-[1px] border-primary px-3 lg:px-4 py-2 hover:scale-110 duration-300 hover:animate-pulse animate-duration-[300ms] animate-delay-50 animate-ease-linear"
            href="#discover-menu"
        >
            <span class="text-white uppercase font-medium">Discover</span>
        </a>
        <a
            class="hidden md:flex md:text-sm items-center [&>span]:hover:text-primary [&>span]:duration-300 gap-2 hover:border-b-[1px] border-primary px-3 lg:px-4 py-2 hover:scale-110 duration-300 hover:animate-pulse animate-duration-[300ms] animate-delay-50 animate-ease-linear"
            href="#menu"
        >
            <span class="text-white uppercase font-medium">Menu</span>
        </a>
        <a
            class="hidden md:flex md:text-sm items-center [&>span]:hover:text-primary [&>span]:duration-300 gap-2 hover:border-b-[1px] border-primary px-3 lg:px-4 py-2 hover:scale-110 duration-300 hover:animate-pulse animate-duration-[300ms] animate-delay-50 animate-ease-linear"
            href="#locations"
        >
            <span class="text-white uppercase font-medium">Locations</span>
        </a>
        <div class="flex flex-col justify-center items-center mx-4 lg:mx-12">
            <h1
                class="text-center uppercase font-semibold text-3xl 2xl:text-5xl text-white"
            >
                Iron Burguer
            </h1>
            <h3 class="uppercase font-light text-md text-white tracking-[1rem]">
                Company
            </h3>
        </div>
        <a
            class="hidden md:flex md:text-sm items-center [&>span]:hover:text-primary [&>span]:duration-300 gap-2 hover:border-b-[1px] border-primary px-3 lg:px-4 py-2 hover:scale-110 duration-300 hover:animate-pulse animate-duration-[300ms] animate-delay-50 animate-ease-linear"
            href="#gallery"
        >
            <span class="text-white uppercase font-medium">Gallery</span>
        </a>
        <a
            class="hidden md:flex md:text-sm items-center [&>span]:hover:text-primary [&>span]:duration-300 gap-2 hover:border-b-[1px] border-primary px-3 lg:px-4 py-2 hover:scale-110 duration-300 hover:animate-pulse animate-duration-[300ms] animate-delay-50 animate-ease-linear"
            href="#us"
        >
            <span class="text-white uppercase font-medium">Us</span>
        </a>
        <a
            class="hidden md:flex md:text-sm items-center [&>span]:hover:text-primary [&>span]:duration-300 gap-2 hover:border-b-[1px] border-primary px-3 lg:px-4 py-2 hover:scale-110 duration-300 hover:animate-pulse animate-duration-[300ms] animate-delay-50 animate-ease-linear"
            href="#contact"
        >
            <span class="text-white uppercase font-medium">Contact</span>
        </a>
    </div>
</nav>
