---
import Section from "./Section.astro";
import SliderMenus from "./SliderMenus";
import Title from "./Title.astro";
---

<Section id="menu">
    <Title title="Our Menus" subtitle="explore our menu" />
    <SliderMenus client:visible />
</Section>
